.button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-pref-width: 52;
    -fx-pref-height: 52;
    -fx-max-height: 52;
    -fx-max-width: 52;
    -fx-min-height: 52;
    -fx-min-width: 52;
}

#saveButton {
    -fx-background-image: url("../../resources/icons/save.svg.png");
}

#addButton {
    -fx-background-image: url("../../resources/icons/add.svg.png");
}

#removeButton {
    -fx-background-image: url("../../resources/icons/remove.svg.png");
}

#undoButton {
    -fx-background-image: url("../../resources/icons/undo.svg.png");
}

#redoButton {
    -fx-background-image: url("../../resources/icons/redo.svg.png");
}

.filter {
    -fx-background-image: url("../../resources/icons/find.svg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-padding: 2px 16px 2px 2px;
}
