.form-label {
    -fx-text-fill: #666;
    -fx-font-weight: bold;
}

.h1 {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.h2  {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

.flag {
    -fx-max-height: 24px;
    -fx-max-width: 24px;
}

.poster {
    -fx-image: url("../../resources/posters/no_poster.gif");
}

.blockRectangle {
    -fx-background-color: black;
    -fx-opacity: 0.7;
}